{% extends 'base.html' %}

{% block css %}

{% endblock %}


{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="font-family: 'Dancing Script', cursive; font-size: 50px;">
        <div>
            Shekhar Yadav
        </div> 
        <div>
            Aman Kumar Shah
        </div> 
        <div>
            Bickey Kumar Chaudhary
        </div> 
        <div>
            Rahul Kumar Yadav
        </div> 
        <div>
            Supervised by <span class="text-danger">Sneha N. P</span> ma'am.
        </div> 
    </div> 
{% endblock %}